*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
}
p, span {
  font-size: 1rem;
}
h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.5rem;
}

h4 {
  font-size: 1.5rem;
}
h1::after, h2::after {
  content:"\A\2014\2014\2605\2014\2014";
  white-space: pre;

}

button {
  font-size: 1.5rem;
  font-weight: bold;
}

section {
  padding: 30px 0;
}

/* CSS HEADER */
nav, .credits {
background-color: #2d3e50;
}
nav{
  height: 100px;
}

/* CSS MAIN */
#jumbotron, #about {
background-color: #1bbc9b;
color: #fff;
text-align: center;
}

/* JUMBOTRON */

#jumbotron img {
  height: 15rem;
}

#about p { text-align: justify;}

#about button {
margin-top: 20px;
background-color: #1bbc9b;
color: #fff;
border: #fff solid 2px;
font-size: 1rem;
font-weight: bold;
}

#portfolio , #contact {
background-color: white;
text-align: center;
color: #2d3e50;
}
#portfolio img {
  max-width: 20rem;
  margin-bottom: 20px;
  border-radius: 1.5rem;
  ;
}
#contact form {
  text-align: left;
}
 #contact button {
margin-top: 20px;
background-color: #1bbc9b;
color: #fff;
font-size: 1rem;
font-weight: bold;
 }
#contact .form-group {
  padding-bottom: 10px;
   border-bottom: 1px #ccc solid;
}

 #contact .form-group input,
 #contact .form-group textarea{
   border: none;
   resize: none;
   box-shadow: none;
   border-radius: 0;
 }

 #contact .form-group input::-webkit-input-placeholder, #contact .form-group textarea::-webkit-input-placeholder { /* WebKit browsers */
    color:    #44627f;
    font-weight: bold;
}

#contact .form-group input::-moz-placeholder, #contact .form-group textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #44627f;
    font-weight: bold;
  }
#contact .form-group input:-ms-input-placeholder, #contact .form-group textarea:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #44627f;
    font-weight: bold;
  }

/* CSS FOOTER */
 footer {
  background-color: #44627f;
  color: #fff;
  text-align: center;
}

footer li {
  margin: 5px;
}
footer i {
  font-size: 1rem;

}
footer li a {
  color: #1bbc9b;
  color: #fff;
  padding: 15px 15px;
  border-radius: 50%;
  border: solid 2px #fff;


}

footer li {
  display: inline-block;
}
