*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* debug */



[class*="col-"] {
border: solid 1px black;
height: 100px;

}

nav, footer {
background-color: darkblue;
}

#jumbotron, #about {
background-color: aqua;
}

#portfolio , #contact {
background-color: white;
}


@media all and (min-width:992px){

nav, section, footer {
  padding: 0 5%;
}

}

@media all and (min-width:1200px){

nav, section, footer {
  padding: 0 15%;
}

}
