*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* debug */



[class*="col-"] {
border: solid 1px black;
height: 100px;

}

nav, .credits {
background-color: #2d3e50;
}

#jumbotron, #about {
background-color: #1bbc9b;
}

#portfolio , #contact {
background-color: white;
}

 footer {
  background-color: #44627f;
}
